
<!--<input [(ngModel)]=" name " type="text" >-->
<!--{{ name }}-->
<!--<input [id]="" type="text" value="Team test field1">-->
<!--<h1 class="color">This Is Our Team</h1>-->
<!--<div *ngFor= 'let member of members'>-->
  <!--{{ member }}-->
<!--</div>-->


<!--<button (click)="onClick()">Contact Team</button>-->
<!--{{ Welcome }}-->
<!--{{ date }}-->


<h1>Team Members</h1>
<ul *ngFor="let team_member of team_members">
  <li>{{ team_member.Team_Test1 }}</li>
  <li>{{ team_member.Team_Test2 }}</li>
</ul>
{{ errorMsg }}
this is  team list
